@model RoleToReturnDTO

<div class="nova-mb-4">
    <div class="nova-form-group">
        <label asp-for="Id" class="nova-label"></label>
        <input asp-for="Id" class="nova-input" readonly />
    </div>
    
    <div class="nova-form-group">
        <label asp-for="Name" class="nova-label"></label>
        <input asp-for="Name" class="nova-input" readonly />
    </div>
</div>
