@model DepartmentDTO

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center my-4">Create Department</h1>
<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="All"></div>
        <partial name="PartialViews/_CreateEditDepartmentPartialView" />

        <div class="d-flex justify-content-start gap-3">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </form>
</div>



@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

