@model DepartmentDTO

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-4">Department Details</h1>
<div class="container">

    <partial name="PartialViews/_DetailsDeleteDepartmentPartialView" />

</div>
<div class="d-flex justify-content-start gap-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>