@model DepartmentDTO

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center my-4">Edit Department</h1>

<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="All"></div>
        <partial name="PartialViews/_CreateEditDepartmentPartialView" />

        <div class="d-flex justify-content-start gap-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </form>
</div>



@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

