@{
    ViewData["Title"] = "CheckYourPhone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <h2>Check your Phone</h2>
    </div>
</div>
