@model DepartmentDTO

<div class="nova-form-group">
    <label asp-for="Code" class="nova-label"></label>
    <input asp-for="Code" class="nova-input" />
    <span asp-validation-for="Code" class="nova-validation-error"></span>
</div>

<div class="nova-form-group">
    <label asp-for="Name" class="nova-label"></label>
    <input asp-for="Name" class="nova-input" />
    <span asp-validation-for="Name" class="nova-validation-error"></span>
</div>

<div class="nova-form-group">
    <label asp-for="CreateAt" class="nova-label"></label>
    <input asp-for="CreateAt" class="nova-input" type="date" />
    <span asp-validation-for="CreateAt" class="nova-validation-error"></span>
</div>
