@model IEnumerable<Department>

@foreach (var department in Model)
{
    <tr>
        <td>@department.Code</td>
        <td>@department.Name</td>
        <td>@department.CreateAt.ToString("yyyy-MM-dd")</td>
        <td>
            <partial name="_ButtonsPartialView" model="@department.Id.ToString()" />
        </td>
    </tr>
}