@model DepartmentDTO

<div class="nova-form-group">
    <label asp-for="Code" class="nova-label"></label>
    <input asp-for="Code" class="nova-input" readonly />
</div>

<div class="nova-form-group">
    <label asp-for="Name" class="nova-label"></label>
    <input asp-for="Name" class="nova-input" readonly />
</div>

<div class="nova-form-group">
    <label asp-for="CreateAt" class="nova-label"></label>
    <input asp-for="CreateAt" class="nova-input" readonly />
</div>
